/* studyList */
.ant-input.ant-input-lg.css-dev-only-do-not-override-pr0fja {
  background-color: #454343;
}

.ant-input.ant-input-lg.css-dev-only-do-not-override-pr0fja::placeholder {
  color: #9f9c9c;
}

/* studyCreate */
.ant-input.css-dev-only-do-not-override-pr0fja::placeholder {
  color: #9f9c9c;
}

.ant-input-number-input-wrap {
  border-radius: 5px;
}

.ant-input-number.ant-input-number-in-form-item.css-dev-only-do-not-override-pr0fja {
  border-radius: 5px;
}

.ant-form-item-explain-error {
  font-weight: 400;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: flex-end;
  padding: 16px 16px;
}
