/* studyList */
.ant-input.ant-input-lg.css-dev-only-do-not-override-pr0fja {
  background-color: #454343;
}

.ant-input.ant-input-lg.css-dev-only-do-not-override-pr0fja::placeholder {
  color: #9f9c9c;
}

/* studyCreate */
.ant-input.css-dev-only-do-not-override-pr0fja::placeholder {
  color: #9f9c9c;
}

.ant-input-number-input-wrap {
  border-radius: 5px;
}

.ant-input-number.ant-input-number-in-form-item.css-dev-only-do-not-override-pr0fja {
  border-radius: 5px;
}

.ant-form-item-explain-error {
  font-weight: 400;
}

/* 스크롤바 배경 */
.studyTechStackFilter_warp::-webkit-scrollbar {
  background-color: #222121;
  width: 7px;
}

.studyDetailQuestion_container::-webkit-scrollbar,
.studyList_item_background::-webkit-scrollbar,
.studyBookmark_item_scroll::-webkit-scrollbar,
.studySearchFilter_item_scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

/* 스크롤바 막대 */
.studyTechStackFilter_warp::-webkit-scrollbar-thumb,
.studyDetailQuestion_container::-webkit-scrollbar-thumb,
.studyList_item_background::-webkit-scrollbar-thumb,
.studyBookmark_item_scroll::-webkit-scrollbar-thumb,
.studySearchFilter_item_scroll::-webkit-scrollbar-thumb {
  background-color: #9f9c9c;
  border-radius: 10px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: flex-end;
  padding: 16px 16px;
}
