.form-label {
  color: #fff;
  font-weight: bold;
}

/* .form_toggle {
  display: flex;
  flex-direction: row;
} */

.form_radio_btn {
  height: 40px;
  width: 48%;
}

.form_radio_btn input[type='radio'] {
  display: none;
}

.form_radio_btn label {
  display: block;
  width: 100%;
  height: inherit;
  line-height: 35px;
  color: #000000;
  text-align: center;
  border-radius: 4px;
}

/* Checked */
.form_radio_btn input[type='radio']:checked + label {
  background: #f6c54d;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 5px;
}

/* Disabled */
.form_radio_btn input[type='radio'] + label {
  background: #f9fafc;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  color: '#222121';
  cursor: pointer;
  padding-top: 5px;
}

.ant-form-item .ant-form-item-label > label::after {
  display: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px;
}
